#amar{
    color: yellow;
    margin-top: 15px;
    padding-top: 45px;
    font-size:x-large;
}

#violet{
    color: blueviolet;
    margin-top: 15px;
    padding-top: 45px;
    font-size:x-large;
}

