#border{
    border: 1px;
}


table, td, th {
    border: 1px;
    padding: 15px;
    text-align: left;
    border-style: dotted;
  
    
  }

table{
    background-color: yellow;
   align-content: space-between;
   border-collapse: collapse;
   border-bottom-style: dashed;
   border-bottom-color: red;
}

#rojo{
    color: red;
}
